* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#backToTopBtn {
    position: fixed;
 
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.boxContent {
    padding: 90px 20px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.boxContent .compteur {
    display: flex;
    align-items: center;
    gap: 20px;
}


.boxContent .compteur #counterB {
    padding: 10px 25px;
     border: none;
     border-radius: 5px;
     background-color: orangered;
     color: aliceblue; 
    box-shadow: 0px 0px 4px gray; 
}

.boxContent .compteur #counterA {
    padding: 10px 25px;
     border: none;
     border-radius: 5px;
     background-color: blueviolet;
     color: aliceblue;
     box-shadow: 0px 0px 4px gray;
}

.boxContent .compteur #counter {
    width: 500px;
    padding: 30px 20px; 
    box-shadow: 0px 0px 4px gray;
}

.boxContent .save-reset {
    padding-top: 50px;
    
    display: flex;
    gap: 20px;
    justify-content: center;
}

.boxContent .save-reset  #save {
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px white;
}

.boxContent .save-reset #reset {
    padding: 15px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px white; 
}

#save-content {
    padding: 10px;
    display: block;
    box-shadow: 0px 0px 2px gray;
    border-radius: 5px;
    text-align: center; 
    margin: auto;

}

#save-content h2 {
    padding: 5px;
    color: rgb(62, 14, 107);
}

#save-content #tab {
    display: flex;
    flex-wrap: wrap;
}


.dark-mode {
/*    background-color: rgba(0, 0, 0, 0.43);*/
    background-color: rgba(0, 0, 0, 0.285);
    color: white;
    transition: 1s;
}

#btn-dark-mode {
    width: 30px;
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 20%;
    padding: 3px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 40px;
    align-items: center;
}

.logoApp {
    font-size: 2rem;
    font-weight: bold;
}

 span {
    color: blueviolet;
}

.nav-bar #list {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-bar #list li {
    list-style: none;
    padding: 10px;
}

.nav-bar #list li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}


.nav-bar #list li a:hover {
    color: rgb(62, 14, 107);
    border-bottom: 3px solid rgb(62, 14, 107);
    padding-bottom: 5px;
    transition: 0.6s;
}

   
.nav-bar .toogle #hamburger {
    display: none;
    gap: 20px;
    width: 30px;
}

.nav-bar .list #delete {
    display: none;
    width: 25px;
}


#comment {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
    }
    
    #comment .images-content {
        width: 400px;
    }
    
    #comment .comment-text {
        display: block;
        flex-direction: column;
    }
    
    .comment-text h2 {
        padding-bottom: 20px;
    }
    
    .comment-text .box-comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0px 0px 4px white;
        padding: 20px;
        gap: 30px;
    }
    
    .box-comment #text-comment {
        border: none;
        padding: 5px 20px;
        width: 300px;
        font-size: 1.2rem;
        font-family: sans-serif;
        place-content: center;
    }
    
    .box-comment #envoyer {
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 4px white;
        background-color: black;
        color: white;
    }
    
    #contact-contenu {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    
    #contact-contenu .contact-box {
        display: block;
    
    }
    
    .contact-box h2, p  {
        padding: 10px 0;
    }

    .contact-box a {
        text-decoration: none;
        color: rgb(62, 14, 107);
    }
    
    #footer {
        display: block;
        padding: 20px 0;
    }
    
    #footer #right {
        display: flex;
        justify-content: center;
    }

    #footer #right span {
        font-weight: bold;
        color: rgb(62, 14, 107);;
    }

    
    @media (max-width: 1140px) {
        .nav-bar #list  {
            gap: 10px;
        }
    }


    @media (max-width: 1125px) {
    
        
        #list {
            gap: 20px;
        }
    
        #list li {
            padding: 10px;
        }

        .nav-bar .logoApp {
            font-size: 1.8rem;
        }
        
        .boxContent .compteur #counter {
            width: 400px;
        }

    }
    
    @media (max-width: 970px) {
        #list {
            gap: 10px;
        }
    
        #list li {
            padding: 10px;
        }
    
        #comment .images-content {
            width: 300px;
        }

         .boxContent .compteur #counter {
            width: 350px;
        }
        
    }
    
    @media (max-width: 870px) {
    
        #list {
            gap: 9px;
        }
    
        #list li {
            padding: 5px;
        }

        #backToTopBtn {
            font-size: 15px;
        }

        .calculator {
            width: 600px;
        }
    
         .boxContent .compteur #counter {
            width: 300px;
        }

    }
    
        
    @media (max-width: 860px) {
        .nav-bar .logoApp {
            font-size: 1.5rem;
        }
        .nav-bar #list {
            display: none;
            width: 100%;
            justify-content: center;
            padding: 15px 0;
            background-color: rgba(137, 43, 226, 0.211);
            box-shadow: 0px 0px 2px blueviolet;
            
        }
    
        .nav-bar .toogle {
            align-items: center;
            display: flex;
            gap: 30px;
        }
    
        .nav-bar .toogle #hamburger {
            display: block;
            gap: 20px
        }
        
        .nav-bar .toogle #lis {
            display: block;
        }
    
    
        .nav-bar .toogle  li {
            list-style: none;
        }
    
        .nav-bar .toogle a {
            text-decoration: none;
            font-size: 1.3rem;
            color: black;
        }
    
        .nav-bar .toogle a:hover {
            color: rgb(62, 14, 107);
            border-bottom: 3px solid rgb(62, 14, 107);
            padding-bottom: 5px;
            transition: 0.6s;
        }

        .boxContent {
        display: block;
        place-content: center;
        }

        .increment-content {
        justify-items: center;

        padding: 30px;
        
        }
    
    }

    @media (max-width: 758px) {
        .nav-bar #list {
            gap: 5px;
        }    

        .nav-bar #list li {
            padding: 5px;
        }
    
       .nav-bar #list li a {
            font-size: 1.2rem;
        }
    
        #comment {
            display: block;
            justify-items: center;
            padding: 30px 20px;
        }
    
        #comment .images-content {
            padding-top: 25px;
            width: 400px;
        }
    
    }
    
    @media (max-width: 678px) {

        .boxContent {
            padding: 30px 20px;
        }

        .boxContent h1 {
            font-size: 1.5rem;
        }

        .boxContent h2 {
            font-size: 1.1rem;
        }

        #contact-contenu {
           display: grid;
           gap: 20px;
           grid-template-columns: repeat(2, 1fr);
           justify-items: center;
        }
    }
    
    @media (max-width: 610px) {
        #list li {
            padding: 0;
        }    
    
       .nav-bar #list li a {
            font-size: 0.83rem;
        }

        #backToTopBtn {
            font-size: 10px;
        }

        .boxContent .compteur #counter {
            width: 250px;
        }

        
        .boxContent .compteur #counter {
            padding: 20px;
        }

        .boxContent .compteur {
           gap: 10px;
        }

    }

    
    @media (max-width: 480px) {
        #comment .comment-text .box-comment {
            width: 300px;
            gap: 10px;
            padding: 15px;
        }

        #comment .comment-text h2 {
            font-size: 1.2rem;
        }

        .box-comment #text-comment  {
            font-size: 1rem;
            padding: 10px;
            gap: 20px;
            place-content: center;
        }
        
        #comment .images-content {
            width: 300px;
        }

        .nav-bar .logoApp {
            font-size: 1.1rem;
        }

        .nav-bar .toogle #hamburger {
           width: 25px;
        }

        #btn-dark-mode {
            width: 25px;
        }

        .boxContent .compteur #counter {
            width: 200px;
            padding: 15px;
        }

    }
        
    
